= form_with model: @lang do |f|
  .form-field
    = f.label :name
    = f.text_field :name, required: true
  .form-field
    = f.label :abbrev, "Abbreviation"
    = f.text_field :abbrev, required: true
  .form-action
    = f.submit @submit